/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

@media (max-width: 480px) {

	h1 {font-size:36px !important;}
	
	
	.logo img {
		width:50%;
		height: 50%;
	}
}

@media (max-width: 768px) {
		
	.logo img {
		width:75%;
		height: 75%;
	}
	
	.wow {
  		visibility: visible !important;
 		 -webkit-animation: none !important;
   		 -moz-animation: none !important;
       	 -o-animation: none !important;
     	 -ms-animation: none !important;
          animation: none !important;
		}

}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: relative;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
   /*  vertical-align: middle; */
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  
/*   Jumbo font size */
  .jumbotron h1, .jumbotron .h1 {
  	font-size: 24px;
  	}
  	
  	.jumbotron {
  	padding-bottom: 30px;
  	}
}

@media (min-width: 992px) {
  .masthead,
  /* .mastfoot, */
  .cover-container {
    width: 990px;
  }
}


/* Additional styling */

.jumbotron h1, .jumbotron .h1 {
	color: #000;
	font-size: 120px;
	text-shadow: none;
}

.jumbotron {
	padding-top: 30px;
}

img.logo {
	margin: 5px 0;
}

.row.well {
	color: #000;
	text-shadow: none;
}

.cover-container {
	text-align: left;
}

p.lead {
	color: #999;
	text-shadow: none;
}

pre.prettyprint {
    border: 1px solid #ccc;
    margin-bottom: 0;
    padding: 9.5px;
  }
  
.center {
	text-align: center;
}

code {
	text-shadow: none;
	background-color: #ccc;
	color: #000;
}

.panel-body a {
	color: #999;
}

.glyphicon-envelope, .glyphicon-comment, .glyphicon-bullhorn {
	font-size: 65px;
	color: #aeaeae;
	padding: 10px 0;
}

input#mce-EMAIL {
	margin-right: 5px;
	width: 125px;
	border: 2px solid #008080;
}

input#mc-embedded-subscribe {
	width: 125px;
}

.navbar-form .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

.forum {
	margin-top: 10px;
}

.prototype {
	color: #000;
	text-shadow: none;
	margin-top:20px;
}

.acknowledgements {
	margin-top: 15px;
}

.white-paper {
	border-radius: 0px;
	margin-top: 15px;
	background-color: #008080;
	border-color: #008080;
}

.white-paper:hover {
	background-color: #04A5A0;
	border-color: #04A5A0;
}

.community h2 {
	font-weight: 100;
}

.well {
	border-radius: 0px;
}

.git {
	margin: auto;
	padding: 10px 0 60px;
	max-width: 550px; 
}

.chat {
margin-top: 20px;
}

.chat_button {
	color: #008080;
}

.chat_button:hover {
	color: #04A5A0;
	text-decoration: none;
}

/* Countdown Timers */
.mobile-timer {
		display: none;
	}
	
@media (max-width: 580px) {
	.desktop-timer {
		display: none;
	}
	
	.mobile-timer {
		display: block;
	}
}